# Core ML/RL dependencies
torch>=2.0
torchvision
numpy
gymnasium
transformers
protobuf

# Green scores calculation
pillow


# Data scraping dependencies (from YARS)
beautifulsoup4
requests
tqdm
lxml
html5lib
json

# Utilities
pandas
matplotlib
ipython
tiktoken
collections
sentencepiece
seaborn